/* targets all padding and margins to 0 before any other commands below*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Background colour of DOM*/
body {
  background-color: #d9dcd6;
}

/*nav bar header padding, font style, background and text color*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* Nav Bar - sets h1 + li's inline with one another and the font size of Horiseon 48px*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Changes the *seo* letters in Horiseon H1 to another color*/
.header h1 .seo {
  color: #d9dcd6;
}

/* sets parameters, font style + size for the nav within the header element */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}


/* sets nav bar li's inline with each other, and sets spacing (left margins) between each link*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* removes underline from link + text color*/
a {
  color: #ffffff;
  text-decoration: none;
}

/* sets font size for p tags and footed text*/
.information-text {
  font-size: 16px;
}

/*code parametres for banner/background img*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/*social media marketing + search engine optimization floats left ie positions to the left of nav with 25px margin*/
.left-imgs {
  float: left;
  margin-right: 25px;
}

/*online reputation management floats right ie positions to the right of nav with 25px margin*/
.right-img {
  float: right;
  margin-left: 25px;
}

/* code for main section nav width, inline block with img and h2 and pushes it right with 20px margin on the left */
#content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* right hand benefits column, sets parametres, font style, background color and positions it on the right of the page */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* sets bottom margine and text color for sidebar */
.benefit-sidebar{
  margin-bottom: 32px;
  color: #ffffff;
}

/* benefit h3 heading bottom margin spacing and centers text for all three */
.benefit-h3-headings {
  margin-bottom: 10px;
  text-align: center;
}

/* sidebar image parametres */
.benefit-imgs {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*top nav parametres, font style, background and text color*/
#search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*middle nav parametres, font style, background and text color*/
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*bottom nav parametres, font style, background and text color*/
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* targets img in nav, sets MAX height */
#search-engine-optimization img {
  max-height: 200px;
}

/* targets img in nav, sets MAX height */
.online-reputation-management img {
  max-height: 200px;
}

/* targets img in nav, sets MAX height */
.social-media-marketing img {
  max-height: 200px;
}

/* main content h2 element bottom margins + font size */
.nav-h2-subheadings {
  margin-bottom: 20px;
  font-size: 36px;
}

/* sets footer padding, clear box, font style and aligns text to the center */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* sents font size for footer h2 element */
.footer h2 {
  font-size: 20px;
}
